{
  "extends": ["airbnb"],
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "function-paren-newline": 0,
    "import/prefer-default-export": 0,
    "react/jsx-curly-spacing": [2, { "when": "never", "children": true }],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0
  }
}
