{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0
  }
}
